$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Global Styles */

body {
    background-color: #222;
}

/* Time Picker Style */

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 5px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 63px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

/* Tables */

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

/* Links */

#universe a:link    { color: #555 }  /* unvisited links */
#universe a:visited { color: #555 }  /* visited links   */
#universe a:hover   { color: #111; text-decoration: none; }  /* user hovers     */

#nav a:link    { color: #555 }  /* unvisited links */
#nav a:visited { color: #555 }  /* visited links   */
#nav a:hover   { color: #E6E6E6; text-decoration: none; }  /* user hovers     */


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


