
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="container-fluid">
				<div class="row">
    			<div class="col-xs-6">
    				<div class="well text-center">
    					<span style="font-size:30px"><strong>{{checking.transit}}-{{checking.number}}</strong></span>
    				</div>
    			</div>
    			<div class="col-xs-6">
    				<div class="well text-center">
    					<span style="font-size:30px"><strong>{{checking.balance | currency}}</strong></span>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12">
	    			<table class="table table-hover">
	    				<thead ng-hide="checking_transactions.length == 0">
	    					<th>Date</th>
	    					<th>Description</th>
	    					<th>Withdrawals</th>
	    					<th>Deposits</th>
	    				</thead>
	    				<tbody>
								<tr ng-repeat="transaction in checking_transactions | orderBy:'time':'reverse'  | limitTo:7" ng-class="{success: transaction.type === 'deposit', danger: transaction.type === 'withdrawal'}"><td>{{transaction.time | date}}</td><td>{{transaction.description}}</td><td><span ng-show="transaction.type == 'withdrawal'">{{transaction.amount | currency}}</span></td><td><span ng-show="transaction.type == 'deposit'">{{transaction.amount | currency}}</span></td></tr>
							</tbody>
						</table>
					</div>
    		</div>
			</div>
		</div>
	</div>
</div>
		    