

<span class="fa-stack" style="position:absolute;top:535px;left:120px;z-index:1;">
  <i class="fa fa-square fa-stack-2x fa-inverse"></i>
  <i class="fa fa-heart fa-stack-1x"></i>
</span>


<div class="progress" style="position:absolute;top:536px;left:150px;z-index:1;width:300px;height:25px;" tooltip-html-unsafe="Health">
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{player.experience}}" aria-valuemin="0" aria-valuemax="100" style="width: {{player.health}}%;"></div>
</div>


<h3 style="position:absolute;left:560px;top:515px;color:#C4C4C4">Uthon</h3>


<span class="fa-stack" style="position:absolute;top:535px;left:740px;z-index:1;">
  <i class="fa fa-square fa-stack-2x fa-inverse"></i>
  <i class="fa fa-star fa-stack-1x"></i>
</span>

<div class="progress" style="position:absolute;top:536px;left:770px;z-index:1;width:300px;height:25px;" tooltip-html-unsafe="Experience">
  <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{player.experience}}" aria-valuemin="0" aria-valuemax="100" style="width: {{player.experience}}%;"></div>
</div>
