
<div class="row"> 
  <div class="col-xs-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3" ng-repeat="item in purchased_assets"
             tooltip-html-unsafe="stars: {{item.stars}}<br>depreciation: {{item.depreciation}}%">
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-size:13px">
                  {{item.name}} 
                </div>
                <div class="panel-footer">
                  <a href="" ng-click="sell(item)">
                    <span class="pull-left">{{value(item) | currency}}</span>
                    <span class="pull-right">sell <i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
