
<div id="nav" ng-show="signedIn()" ng-controller="NavCtrl" >
  <a href="#" ng-click="logout()" style="position:absolute;left:1120px;top:150px">
    <i class="fa fa-2x fa-sign-out"></i>
  </a>


  <a href="/#/universe" style="position:absolute;left:60px;top:150px">
    <i class="fa fa-2x fa-globe"></i>
  </a>  

  <a href="/#/home" style="position:absolute;left:58px;top:250px">
    <i class="fa fa-2x fa-home"></i>
  </a>

  <a href="/#/bank" style="position:absolute;left:57px;top:300px">
    <i class="fa fa-2x fa-bank"></i>
  </a>

  <a href="/#/player" style="position:absolute;left:60px;top:200px">
    <i class="fa fa-2x fa-user"></i>
  </a>

  <span style="position:absolute;left:180px;top:6px;color:#C4C4C4">Rank: {{player.rank}}</span>
  <span style="position:absolute;left:250px;top:6px;color:#C4C4C4">Level: {{player.level}}</span>
  <span style="position:absolute;left:400px;top:6px;color:#C4C4C4">Net Worth: {{checking.balance | currency}}</span>

  <span style="position:absolute;left:660px;top:6px;color:#C4C4C4">Intelligence: {{player.intelligence}}</span>
  <span style="position:absolute;left:760px;top:6px;color:#C4C4C4">Charm: {{player.charm}}</span>
  <span style="position:absolute;left:830px;top:6px;color:#C4C4C4">Creativity: {{player.creativity}}</span>

  <span style="position:absolute;left:950px;top:6px;color:#C4C4C4">Mana: {{player.mana}}</span>
  
  </div>
</div>