<div class="row" style="padding:5%">
	<div class="col-xs-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
						<canvas id="canvas" width="150" height="150" player="player" username="true" player></canvas>
				</div>
				<div class="col-xs-6">
					<input type="text" ng-model="player.username" class="form-control" placeholder="Username" ng-change="player.$save()"><br>
					<ul class="list-group">
					  <li class="list-group-item">Rank<span class="badge">{{player.rank}}</span></li>
					  <li class="list-group-item">Mana<span class="badge">{{player.mana}}</span></li>
					</ul>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12" data-drop="true" jqyoui-droppable="{multiple:true,onDrop:'dropCallback(schedule)'}">

				  	<table class="table table-condensed ">
				  		<tr>
				  			<td>Creativity</td>
				  			<td>
				  				<button class="btn btn-xs btn-success" ng-click="add('creativity')">
				  					<i class="fa fa-plus"></i>
				  				</button>
				  			</td>
				  			<td><span class="badge">{{player.creativity}}</span></td>
				  		</tr>
				  		<tr>
				  			<td>Charm</td>
				  			<td>
				  				<button class="btn btn-xs btn-success" ng-click="add('charm')">
				  					<i class="fa fa-plus"></i>
				  				</button>
				  			</td>
				  			<td><span class="badge">{{player.charm}}</span></td>
				  		</tr>
				  		<tr>
				  			<td>Intelligence</td>
				  			<td>
				  				<button class="btn btn-xs btn-success" ng-click="add('intelligence')">
				  					<i class="fa fa-plus"></i>
				  				</button>
				  			</td>
				  			<td><span class="badge">{{player.intelligence}}</span></td>
				  		</tr>
				  	</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-7">
		<div class="panel panel-info">
      <div class="panel-body">
      	<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
							<button style="border:none;background:none;" ng-click="change_hair(i)">
								<img style="margin-left:-45px;margin-bottom:-30px;margin-top:-20px;" ng-src="images/hair/hair_{{i}}.png"></img>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
      <div class="panel-body">
      	<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
							<button style="border:none;background:none;" ng-click="change_head(i)">
								<img style="margin-left:-45px;margin-bottom:-25px;margin-top:-20px;" ng-src="images/head/head_{{i}}.png"></img>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
      <div class="panel-body">
      	<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
							<button style="border:none;background:none;" ng-click="change_body(i)">
								<img style="margin-left:-45px;margin-bottom:-10px;margin-top:-45px;" ng-src="images/body/body_{{i}}.png"></img>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>