
<canvas id="uldurbg" width="900" height="350" style="position: absolute; left: 100; top: 50; z-index: 0;" uldurbg></canvas>
<canvas id="uldur" width="900" height="350" style="position: absolute; left: 100; top: 50; z-index: 1;" uldur></canvas>

<!-- Button trigger modal -->
<button style="position:absolute;left:750px;top:425px;"type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  How to Play
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How to Play</h4>
      </div>
      <div class="modal-body">
        The goal is to reach the enemy base before he reaches your base or kill him before he kills you.

        You have 3 lanes of movement:

        Top lane allows you to attack the enemy, all you need is his position and you can attack by dragging and dropping your web. If you make a failed attempt, you reveal your position and the enemy will attack and kill you instantly.

        Middle lane allows you to move twice the speed so you can get faster to the enemy base.

        Bottom lane reveals the position of your enemy so you can study his strategy.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>