
<div id="universe">

  <canvas style="position:absolute;left:0px;top:0px;z-index:0;" id="universebg" width="1000" height="500" universebg></canvas>
  <canvas style="position:absolute;left:0px;top:0px;z-index:1;" id="universe" width="1000" height="500" universe></canvas>
  <canvas style="position:absolute;left:400px;top:200px;z-index:2;" id="canvas" width="100" height="100" player="player" username="false" player></canvas>

 
</div>
