
<div class="row">
	<form class="form-inline" role="form" ng-submit="login()">
		<p ng-show="error" class="text-danger">{{ error }}</p>
		<div class="form-group">
		  <input ng-model="user.email" type="email" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
		  <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Play</button>
	</form>
</div>

