
<canvas id="wrantbg" width="1000" height="500" style="position: absolute; left: 100; top: 50; z-index: 0;" wrantbg ></canvas>
<canvas id="wrant" width="1000" height="500" style="position: absolute; left: 100; top: 50; z-index: 1;" wrant></canvas>